// MIXINS -- start
@mixin attribution ($mTop, $mBottom) 
{
    font-size: 11px; 
    text-align: center; 
    margin-top: $mTop; 
    margin-bottom: $mBottom;

    a 
    { 
        color: hsl(228, 45%, 44%); 
    }
}

@mixin flexbox-size($boxWidth, $boxHeight, $flexDirection) 
{
    width: $boxWidth;
    height: $boxHeight;
    display: flex;
    flex-direction: $flexDirection;
}

@mixin position-z-index($position, $zIndex) 
{
    position: $position;
    z-index: $zIndex;
}

@mixin centered-padding($padding) 
{
    padding: $padding;
    margin: 0 auto;
}

@mixin heading-size($fontSize)
{
    font-weight: 700;
    font-size: $fontSize;
    letter-spacing: .25rem;
    text-align: left;
}

@mixin shared-image-stats ($fit-type) 
{
    width: 100%;
    height: 100%;
    object-fit: $fit-type;
}

@mixin shared-body-text-stats($text-color)
{
    margin-top: 2vh;
    color: $dark-gray;
    word-spacing: .25vh;
    line-height: 2vh;
}

@mixin shared-centered-stats-with-position($top, $left)
{
    top: $top;
    left: $left;
    transform: translate(($top - ($top*2)), ($left - ($left*2)));
}

@mixin viewbox 
{
    background-color: $black;
    height: 100%;
    width: 10%;
    cursor: pointer;
    transition: 300ms;

    &:hover
    {
        transition: 300ms;
        background-color: $dark-gray;
    }

    &:active
    {
        transition: 300ms;
        background-color: $black;
    }

    > img
    {
        position: relative;
        @include shared-centered-stats-with-position(50%, 50%);
    }
}

@mixin info-slide-link($fontSize)
{
    position: relative;
    @include shared-centered-stats-with-position(50%, 50%);
    @include flexbox-size(100%, 10%, row);
    padding: 2%;
    text-decoration: none;

    > span
    {
        width: auto;
        @include shared-body-text-stats($dark-gray);
        color: $very-dark-gray;
        margin-top: 0;
        @include heading-size($fontSize);
        text-transform: uppercase;
        letter-spacing: .5rem;
        align-items: center;
        justify-content: center;
        align-content: center;
        display: inline-flex;
    }

    > img
    {
        min-width: 20%;
        height: auto;
        margin-left: 5%;
        vertical-align: middle;
    }
}

@mixin burger ($status)
{
    display: $status;
    flex-direction: column;
    > div
    {
        width: 25px;
        height: 3px;
        background-color: $white;
        margin: 3px;
    }
}

@mixin link-tag($color)
{
    color: $color;
    text-decoration: none;
    text-align: center;    
}

@mixin slideshow-container 
{
    @include position-z-index(relative, 1);
    @include flexbox-size(100%, 100%, row);

    > .slides 
    {
        @include position-z-index(absolute, 2);
        width: 100%;
        height: 100%;
        
        > img 
        {
            @include shared-image-stats(cover);
        }
    }    
}

@mixin nav-links ($bgColor, $flexBasis, $zIndex, $paddingY)
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $bgColor;
    z-index: $zIndex;
    width: 50%;
    flex-basis: $flexBasis;
    height: auto;
    padding-top: $paddingY;
    padding-bottom: $paddingY;
}

@mixin logo($width, $mLeft, $mRight)
{
    width: $width;
    position: relative;
    left: 0;
    right: 0;
    margin-left: $mLeft;
    margin-right: $mRight;
}
// MIXINS -- end